[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework-simplejwt = "*"
django-rest-passwordreset = "*"
django-import-export = "*"
mysqlclient = "*"
pillow = "*"
gunicorn = "*"
dj-rest-auth = "*"
django-allauth = "*"
cryptography = "*"
pyjwt = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
